<div class="header"><h1>Profanity List</h1></div>

<div class="content">

	<p class="info">Submit a <b>dirty word</b>, and unleash the foul-mouthed sailor inside of you.<br/>Need some inspiration from your colleagues?  Check out the <a href="/list">complete list</a>.</p>

	{{#if exists}}
	<div class="not-saved">You'll have to try harder than that!<br/>Some other little <b>{{word}}</b> already entered this.</div>
	{{/if}}

	{{#if saved }}
	<div class="saved">Nicely done you little <b>{{word}}</b>.</div>
	{{/if}}

	<form method="post" action="/">

			<input type="text" name="word" class="word" autocomplete="off" />
			<input type="submit" value="submit" class="btn" />

	</form>

	<div><img src="images/the-missing-cuss.gif" alt="missing cuss" style="width:600px;height:447px;" /></div>

</div>