<!DOCTYPE html>
<html>
<head>
	<title>Profanity List</title>
	<link href="css/main.css" rel="stylesheet" type="text/css" />
	<script src="js/main.js" type="text/javascript"></script>
</head>
<body>
{{{body}}}
</body>
</html>