<div class="header"><h1>Profanity List</h1></div>

<div class="content">

	<p class="info">What a bunch of vulgar SOBs.  Now <a href="/">go back</a> and let the obscenities fly.</p>

	<div class="word-list">
	{{#words}}
	<div>{{word}}</div>
	{{/words}}
	</div>

</div>